<div class="flex items-end my-2">
  <select class="amount-type h-full min-w-20 border-0 bg-transparent
  pl-2 pr-9 py-[9px] text-gray-800 focus:ring-2 focus:ring-inset
focus:ring-blue-300 sm:text-sm text-lg relative " >
      <option value="GBP">£</option>
      <option value="EUR">€</option>
      <option value="USD">$$</option>
      <option value="MXN">$</option>
  </select>
  <input type="text" class="amount-input outline-none block w-3/4  py-1.5 pl-3 pr-20
  text-gray-900  placeholder:text-gray-400
  sm:text-sm sm:leading-6 text-start font-semibold
  absolute right-7" placeholder="0.00" value="300,000" />
</div>
