<div class="flex items-end my-2 ml-4">

  <input type="text" class="interest-input outline-none block w-2/3  py-1.5 pl-3
  text-gray-900  placeholder:text-gray-400
  sm:text-sm sm:leading-6 text-start font-semibold
  " placeholder="0.00" value="25" />

  <select class="interest-type h-full w-16 border-0 bg-transparent
  pl-2 pr-9 py-[9px] text-gray-800 focus:ring-2 focus:ring-inset
focus:ring-blue-300 sm:text-sm text-lg relative text-end  " >
      <option value="Y">Years</option>
      <option value="M">Months</option>
      <option value="D">Days</option>
  </select>

</div>
