.term-input{
  border-radius: 5px 0 0 5px;
  border-bottom: solid gray 1px ;
  border-top: solid gray 1px ;
  border-left: solid gray 1px ;
}

.term-type{
  border-radius:0 5px 5px 0;
  border-bottom: solid gray 1px ;
  border-top: solid gray 1px ;
  border-right: solid gray 1px;
  background-color: #e2f3fb;
}
